:root {
    /* We define a base for the proportion */
    --base-size: 1.125rem; /* 18px - Standard readable body size */
}

.logo-font{
    font-family: "Croissant One", serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    color: inherit;
}

.name {
    font-family: "Croissant One", serif;
    font-size: 6rem;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -0.02em;
}

.h1 {
    font-size: 6rem;
    font-family: "Taviraj", serif;
    font-weight: 600;
    font-style: semi-bold;
}

.h2 {
    font-size: 2.5rem;
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;
}

.main-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
    max-width: 600px;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem; /* 18px */
    font-weight: 500;
    font-style: italic;
    color: #666;
    margin-bottom: 0.5rem;
}

.button-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;     /* 16px - Standard button size */
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.05em;
}